name: Java CI + Deploy Spring Boot

on:
  push:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Récupérer le code
      - name: Checkout source code
        uses: actions/checkout@v4

      # 2️⃣ Installer Java pour le build (sur GitHub runner)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 3️⃣ Build du JAR
      - name: Build with Maven
        run: mvn -DskipTests=true -B package

      # 4️⃣ Copier le JAR vers la VM
      - name: Copy JAR to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "target/*.jar"
          target: "/opt/apps/tpgithubactions"

      # 5️⃣ Lancer l'application sur la VM
      - name: Run Spring Boot on VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            set -x
            cd /opt/apps/tpgithubactions/target

            echo "Recherche ancienne version"
            if pgrep -f TpGitHubActions > /dev/null; then
              echo "Ancienne version trouvée, arrêt..."
              pkill -f TpGitHubActions || true
              sleep 2
            else
              echo "Aucune ancienne version en cours"
            fi

            echo "Démarrage application"
            nohup java -jar TpGitHubActions-0.0.1-SNAPSHOT.jar \
              > ../app.log 2>&1 &



