name: Java CI with Maven

on:
  push:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  Create-Folder:
    runs-on: ubuntu-latest
    steps:
      - name: Create Folder on remote VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            set -x
            echo "Création du dossier applicatif"
            mkdir -p /opt/applications/java/TestGithubActions

  build-and-deploy:
    runs-on: ubuntu-latest
    needs: Create-Folder

    steps:
      # 1️⃣ Récupérer le code
      - name: Checkout source code
        uses: actions/checkout@v4

      # 2️⃣ Installer Java (sur le runner GitHub)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # 3️⃣ Build du JAR
      - name: Build with Maven
        run: mvn -DskipTests=true -B package

      # 4️⃣ Renommer le JAR
      - name: Rename jar
        run: mv target/*.jar target/app.jar

      # 5️⃣ Copier le JAR vers la VM
      - name: Copy JAR to VM
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "target/app.jar"
          target: "/opt/applications/java/TestGithubActions"

  RunScript:
    runs-on: ubuntu-latest
    needs: build-and-deploy

    steps:
      - name: Run Spring Boot app on VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            set -x
            cd /opt/applications/java/TestGithubActions/target
            echo "Arrêt ancienne version (si existe)"
            #pkill -f app.jar || true
            sleep 5
            echo "Démarrage application"
            nohup java -jar app.jar > app.log 2>&1 &


