name: Java CI with Maven

on:
  push:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  Create-Folder:
    runs-on: ubuntu-latest
    steps:
      - name: Create Folder on remote VM
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            set -x                     # active le "mode debug"
            echo "Je suis connecté sur la VM"
            whoami
            echo "Création du premier dossier"
            mkdir -p /root/test-github-actions
            echo "Création du deuxième dossier"
            mkdir -p /root/test-github-actions-2
            echo "Liste des dossiers dans /root"
            ls -la /root

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn -DskipTests=true -B package --file pom.xml
